unstructured
streamlit
langchain_community
langchain
langchain-chroma
langchain_groq
sentence-transformers
python-dotenv
langchain-huggingface
chromadb
#pysqlite3
#do not install locally only for the streamlit
pysqlite3-binary